.center-content {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.center-of-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}