.messages {
	width: 100%;
}

.messagebox {
    overflow-y: scroll;
}

.messagebox .message {
    display: flex;
    background-color: #182533;
    
    max-width: 75%;
    min-width: 150px;
    padding: 5px 10px;
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
}

.messagebox .message.right {
    flex-direction: row-reverse;
    align-self: flex-end;
    background-color: #2b5278;

    border-radius: 20px 20px 0px 20px;
}

.messagebox .message .avatar {
    margin: 0px 5px;
}

.messagebox::-webkit-scrollbar {
	width: 0.5em;
	background-color: transparent;
}

.messagebox::-webkit-scrollbar-thumb {
	background-color: transparent;
}
