.comment-creator {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.comment-creator .user-avatar {
    margin-left: 4px;
    margin-right: 4px;
}

.comment-icon {
    margin: 6px;
    cursor: pointer;
    display: flex;
}